apiVersion: v1
kind: Config
clusters:
- name: playground
  cluster:
    server: https://123.45.67.89
    certificate-authority-data: LS0thisisanobviouslyfakecacert1234567890THISISANOBVIOUSLYFAKECACERT1234567890thisisanobviouslyfakecacert1234567890THISISANOBVIOUSLYFAKECACERT1234567890LS0tLS0K
users:
- name: store-user
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args:
      - --use_application_default_credentials
      command: gke-gcloud-auth-plugin
      installHint: Install gke-gcloud-auth-plugin for kubectl by following
        https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-access-for-kubectl#install_plugin
      provideClusterInfo: true
contexts:
- context:
    cluster: playground
    user: store-user
  name: playground-store
current-context: playground-store
