---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nginx-sa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app.kubernetes.io/name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: nginx
  template:
    metadata:
      labels:
        app.kubernetes.io/name: nginx
        app.kubernetes.io/version: "1.27.4"
    spec:
      serviceAccountName: nginx-sa
      automountServiceAccountToken: false
      containers:
      - name: nginx
        image: nginx:1.27.4
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          seccompProfile:
            type: RuntimeDefault
        ports:
        - name: web
          containerPort: 80
        resources:
          requests:
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-svc
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: nginx
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: web
