apiVersion: v1
kind: Pod
metadata:
  name: kaniko-wi
spec:
  containers:
  - name: kaniko
    image: gcr.io/kaniko-project/executor:latest
    args: ["--dockerfile=Dockerfile",
           "--context=gs://${GCS_BUCKET}/path/to/context.tar.gz",
           "--destination=${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${GAR_REPO_NAME}/${IMAGE_NAME}:${IMAGE_TAG}",
           "--cache=true"]
  restartPolicy: Never
  serviceAccountName: kaniko-wi-ksa
  nodeSelector:
    iam.gke.io/gke-metadata-server-enabled: "true"
